# QUESTION 1

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [ ]:
from sklearn.datasets import load_iris
data = load_iris()
datac = np.c_[data.data,data.target]
columns=np.append(data.feature_names,["Species"])
df = pd.DataFrame(datac, columns=columns)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   Species            150 non-null    float64
dtypes: float64(5)
memory usage: 6.0 KB

In [ ]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [ ]:
df['Species'].value_counts()

0.0    50
1.0    50
2.0    50
Name: Species, dtype: int64

In [ ]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

Setting up values for K-Fold Cross Validation:

In [ ]:
ntot=y.shape[0]
k=5 #k for k-fold cross validation
ntest=int((1/k)*ntot)
itr=int(ntot/ntest)

# **Decision Tree**

In [ ]:
acc=0
for i in range (itr):
  #splitting the dataset
  X_test=X[i*ntest:(i+1)*ntest,:10]
  X_train=np.concatenate((X[:i*ntest,:10],X[(i+1)*ntest:,:10]))
  y_test=y[i*ntest:(i+1)*ntest]
  y_train=np.concatenate([y[:i*ntest],y[(i+1)*ntest:]])
  #Feature Scaling
  from sklearn.preprocessing import StandardScaler  
  sc = StandardScaler()
  X_train = sc.fit_transform(X_train)
  X_test = sc.transform(X_test)
  # Training the model
  from sklearn.tree import DecisionTreeClassifier 
  DTclassifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
  DTclassifier.fit(X_train, y_train)
  #Predicting the value
  y_pred1 = DTclassifier.predict(X_test)  
  from sklearn.metrics import accuracy_score
  acc+=accuracy_score(y_test, y_pred1)
  print("Accuracy for iteration number",i+1,"of cross validation is ",accuracy_score(y_test, y_pred1)) #Checking accuracy
print("Overall average accuracy is",acc/k)

Accuracy for iteration number 1 of cross validation is  1.0
Accuracy for iteration number 2 of cross validation is  0.9666666666666667
Accuracy for iteration number 3 of cross validation is  0.8333333333333334
Accuracy for iteration number 4 of cross validation is  0.9333333333333333
Accuracy for iteration number 5 of cross validation is  0.8
Overall average accuracy is 0.9066666666666666

# **Random Forest**

In [ ]:
acc=0
for i in range (itr):
  #splitting the dataset
  X_test=X[i*ntest:(i+1)*ntest,:]
  X_train=np.concatenate((X[:i*ntest,:],X[(i+1)*ntest:,:]))
  y_test=y[i*ntest:(i+1)*ntest]
  y_train=np.concatenate([y[:i*ntest],y[(i+1)*ntest:]])
  #Feature Scaling
  sc = StandardScaler()
  X_train = sc.fit_transform(X_train)
  X_test = sc.transform(X_test)
  #Using Random Forest Classifier
  RFclassifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
  RFclassifier.fit(X_train, y_train)
  #Predicting the value
  y_pred2 = RFclassifier.predict(X_test)  
  acc+=accuracy_score(y_test, y_pred2)
  print("Accuracy for iteration number",i+1,"of cross validation is ",accuracy_score(y_test, y_pred2)) #Checking accuracy
print("Overall average accuracy is",acc/k)

Accuracy for iteration number 1 of cross validation is  1.0
Accuracy for iteration number 2 of cross validation is  1.0
Accuracy for iteration number 3 of cross validation is  0.9
Accuracy for iteration number 4 of cross validation is  0.9333333333333333
Accuracy for iteration number 5 of cross validation is  0.8
Overall average accuracy is 0.9266666666666665

# **Naive Bayes Classifier**

In [ ]:
acc=0
for i in range (itr):
  #splitting the dataset
  X_test=X[i*ntest:(i+1)*ntest,:]
  X_train=np.concatenate((X[:i*ntest,:],X[(i+1)*ntest:,:]))
  y_test=y[i*ntest:(i+1)*ntest]
  y_train=np.concatenate([y[:i*ntest],y[(i+1)*ntest:]])
  #Feature Scaling
  sc = StandardScaler()
  X_train = sc.fit_transform(X_train)
  X_test = sc.transform(X_test)
  #Using Naive Bayes Classifier
  NBclassifier = GaussianNB()
  NBclassifier.fit(X_train, y_train)
  #Predicting the value
  y_pred3 = NBclassifier.predict(X_test)  
  acc+=accuracy_score(y_test, y_pred3)
  print("Accuracy for iteration number",i+1,"of cross validation is ",accuracy_score(y_test, y_pred3)) #Checking accuracy
print("Overall average accuracy is",acc/k)

Accuracy for iteration number 1 of cross validation is  1.0
Accuracy for iteration number 2 of cross validation is  0.9666666666666667
Accuracy for iteration number 3 of cross validation is  0.9
Accuracy for iteration number 4 of cross validation is  0.9333333333333333
Accuracy for iteration number 5 of cross validation is  0.9333333333333333
Overall average accuracy is 0.9466666666666667

# **K-Nearest Neighbour**

In [ ]:
acc=0
for i in range (itr):
  #splitting the dataset
  X_test=X[i*ntest:(i+1)*ntest,:]
  X_train=np.concatenate((X[:i*ntest,:],X[(i+1)*ntest:,:]))
  y_test=y[i*ntest:(i+1)*ntest]
  y_train=np.concatenate([y[:i*ntest],y[(i+1)*ntest:]])
  #Feature Scaling
  sc = StandardScaler()
  X_train = sc.fit_transform(X_train)
  X_test = sc.transform(X_test)
  #Using K Nearest Neighbour Classifier
  KNNclassifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
  KNNclassifier.fit(X_train, y_train)
  #Predicting the value
  y_pred4 = KNNclassifier.predict(X_test)  
  acc+=accuracy_score(y_test, y_pred4)
  print("Accuracy for iteration number",i+1,"of cross validation is ",accuracy_score(y_test, y_pred4)) #Checking accuracy
print("Overall average accuracy is",acc/k)

Accuracy for iteration number 1 of cross validation is  1.0
Accuracy for iteration number 2 of cross validation is  1.0
Accuracy for iteration number 3 of cross validation is  0.8
Accuracy for iteration number 4 of cross validation is  0.9333333333333333
Accuracy for iteration number 5 of cross validation is  0.7333333333333333
Overall average accuracy is 0.8933333333333333

# Question 2

## Importing dataset

In [ ]:
#df = pd.read_csv('http://fimi.uantwerpen.be/data/retail.dat', sep='\sp', header=None)
df = pd.read_csv('http://fimi.uantwerpen.be/data/retail.dat', sep='\sp', engine='python' , header=None)
data = []
for i in range(df.shape[0]):
  arr = []
  arr.append(i)
  x = [int(i) for i in df[0][i].split()]
  arr.append(x);
  data.append(arr)
#data

In [ ]:
# testing data
data = [
        ['T100',['I1','I2','I5']],
        ['T200',['I2','I4']],
        ['T300',['I2','I3']],
        ['T400',['I1','I2','I4']],
        ['T500',['I1','I3']],
        ['T600',['I2','I3']],
        ['T700',['I1','I3']],
        ['T800',['I1','I2','I3','I5']],
        ['T900',['I1','I2','I3']]
        ]

## Apriori

### finding the set of elements

In [ ]:
init = []
for i in data:
    for q in i[1]:
        if(q not in init):
            init.append(q)
init = sorted(init)
print(init)

['I1', 'I2', 'I3', 'I4', 'I5']

### choosing support

In [ ]:
sp = 0.4
s = int(sp*len(data))
s

3

### applying the apiori algorithm

In [ ]:
from collections import Counter
c = Counter()
for i in init:
    for d in data:
        if(i in d[1]):
            c[i]+=1
print("C1:")
for i in c:
    print(str([i])+": "+str(c[i]))
print()
l = Counter()
for i in c:
    if(c[i] >= s):
        l[frozenset([i])]+=c[i]
print("L1:")
for i in l:
    print(str(list(i))+": "+str(l[i]))
print()
pl = l
pos = 1
for count in range (2,1000):
    nc = set()
    temp = list(l)
    for i in range(0,len(temp)):
        for j in range(i+1,len(temp)):
            t = temp[i].union(temp[j])
            if(len(t) == count):
                nc.add(temp[i].union(temp[j]))
    nc = list(nc)
    c = Counter()
    for i in nc:
        c[i] = 0
        for q in data:
            temp = set(q[1])
            if(i.issubset(temp)):
                c[i]+=1
    print("C"+str(count)+":")
    for i in c:
        print(str(list(i))+": "+str(c[i]))
    print()
    l = Counter()
    for i in c:
        if(c[i] >= s):
            l[i]+=c[i]
    print("L"+str(count)+":")
    for i in l:
        print(str(list(i))+": "+str(l[i]))
    print()
    if(len(l) == 0):
        break
    pl = l
    pos = count
print("Result: ")
print("L"+str(pos)+":")
for i in pl:
    print(str(list(i))+": "+str(pl[i]))
print()

C1:
['I1']: 6
['I2']: 7
['I3']: 6
['I4']: 2
['I5']: 2

L1:
['I1']: 6
['I2']: 7
['I3']: 6

C2:
['I2', 'I3']: 4
['I2', 'I1']: 4
['I3', 'I1']: 4

L2:
['I2', 'I3']: 4
['I2', 'I1']: 4
['I3', 'I1']: 4

C3:
['I2', 'I3', 'I1']: 2

L3:

Result:
L2:
['I2', 'I3']: 4
['I2', 'I1']: 4
['I3', 'I1']: 4

### Finding association rules for subsets

In [ ]:
# Finding association rules for subsets
from itertools import combinations
for l in pl:
    c = [frozenset(q) for q in combinations(l,len(l)-1)]
    mmax = 0
    for a in c:
        b = l-a
        ab = l
        sab = 0
        sa = 0
        sb = 0
        for q in data:
            temp = set(q[1])
            if(a.issubset(temp)):
                sa+=1
            if(b.issubset(temp)):
                sb+=1
            if(ab.issubset(temp)):
                sab+=1
        temp = sab/sa*100
        if(temp > mmax):
            mmax = temp
        temp = sab/sb*100
        if(temp > mmax):
            mmax = temp
        print(str(list(a))+" -> "+str(list(b))+" = "+str(sab/sa*100)+"%")
        print(str(list(b))+" -> "+str(list(a))+" = "+str(sab/sb*100)+"%")
    curr = 1
    print("choosing:", end=' ')
    for a in c:
        b = l-a
        ab = l
        sab = 0
        sa = 0
        sb = 0
        for q in data:
            temp = set(q[1])
            if(a.issubset(temp)):
                sa+=1
            if(b.issubset(temp)):
                sb+=1
            if(ab.issubset(temp)):
                sab+=1
        temp = sab/sa*100
        if(temp == mmax):
            print(curr, end = ' ')
        curr += 1
        temp = sab/sb*100
        if(temp == mmax):
            print(curr, end = ' ')
        curr += 1
    print()
    print()

['I2'] -> ['I3'] = 57.14285714285714%
['I3'] -> ['I2'] = 66.66666666666666%
['I3'] -> ['I2'] = 66.66666666666666%
['I2'] -> ['I3'] = 57.14285714285714%
choosing: 2 3

['I2'] -> ['I1'] = 57.14285714285714%
['I1'] -> ['I2'] = 66.66666666666666%
['I1'] -> ['I2'] = 66.66666666666666%
['I2'] -> ['I1'] = 57.14285714285714%
choosing: 2 3

['I3'] -> ['I1'] = 66.66666666666666%
['I1'] -> ['I3'] = 66.66666666666666%
['I1'] -> ['I3'] = 66.66666666666666%
['I3'] -> ['I1'] = 66.66666666666666%
choosing: 1 2 3 4